.nav {
    grid-area: aside;
    background-color: #edeef0;
}

.nav ul {
    list-style: none;
}

.item {
    color: #ffffff;
}

.item:hover {
    background-color: rgba(91, 110, 133, 0.3);
    cursor: default;
}

.link {
    font-size: 20px;
    line-height: 27px;
    text-decoration: none;
    color: #285473;
}